SpeechRecognition
pyaudioabsl-py==1.3.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.12.1
annotated-types==0.6.0
anyio==4.0.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.11.2
bidict==0.22.1
bs4==0.0.1
CacheControl==0.13.1
cachetools==5.2.0
cairocffi==1.4.0
CairoSVG==2.5.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
chess==1.9.3
click==8.1.3
cloudpickle==2.2.1
cryptography==41.0.5
cssselect2==0.7.0
deck==3.0.0
defusedxml==0.7.1
distlib==0.3.8
exceptiongroup==1.1.3
fastapi==0.96.1
filelock==3.13.1
firebase-admin==6.2.0
flatbuffers==1.12
frozenlist==1.4.1
gast==0.4.0
glcontext==2.3.7
glfw==1.12.0
google-api-core==2.12.0
google-api-python-client==2.105.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.13.0
google-cloud-storage==2.12.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
grpcio==1.59.0
grpcio-status==1.59.0
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
gym3==0.3.3
h11==0.14.0
h5py==3.7.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
idna==3.4
imageio==2.22.2
imageio-ffmpeg==0.3.0
importlib-metadata==5.0.0
Jinja2==3.1.2
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.6
lxml==4.8.0
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
moderngl==5.7.2
msgpack==1.0.7
multidict==6.0.5
numpy==1.22.1
oauthlib==3.2.1
opt-einsum==3.3.0
packaging==23.2
pgn2gif==1.0
pikepdf==5.1.1
Pillow==9.1.0
pipdeptree==2.13.0
platformdirs==3.11.0
-e git+ssh://git@github.com/openai/procgen.git@5e1dbf341d291eff40d1f9e0c0a0d5003643aebf#egg=procgen
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pygame==2.1.2
Pygments==2.16.1
PyJWT==2.8.0
pyparsing==3.0.7
PyPDF2==1.26.0
python-chess==1.999
python-engineio==4.8.0
python-multipart==0.0.5
python-socketio==5.10.0
redis==4.6.0
reflex==0.3.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
sseclient-py==1.8.0
starlette==0.27.0
starlette-admin==0.9.0
stockfish==3.28.0
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
termcolor==2.0.1
tinycss2==1.2.1
together==0.2.11
tqdm==4.66.2
typer==0.9.0
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.20.0
virtualenv==20.25.0
watchdog==2.3.1
watchfiles==0.19.0
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.9.0
